<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
	<appender name="stdout"
		class="ch.qos.logback.core.ConsoleAppender">

		<encoder>
			<pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>
	</appender>
	
	<logger name="org.springframework" level="error" />
	
	<root level="info">
		<appender-ref ref="stdout" />
	</root>
</configuration>